<% include partials/header %>
<style>
    textarea{
        display: block;
        width: 100%;
    }
</style>
<script>
    function deleteCampground(){
        console.log("deleting campground");

        $.ajax({
            url: '/campgrounds/<%=campground._id%>',
            contentType: 'application/json',
            type: 'DELETE',
            success: function(result) {
                window.location.href="/campgrounds";
            },
            error: function(result) {
                window.location.href="/";
            }
        });

    }
    
    function saveChanges(){
        console.log("saving edits");
        
        let campNameValue = document.getElementById("campName").value;
        let campImageValue = document.getElementById("campImage").value;
        let campDescriptionValue = document.getElementById("campDescription").value;
        
        let editedCampground = {name: campNameValue,
                                image: campImageValue,
                                description: campDescriptionValue};
        
        $.ajax({
            url: '/campgrounds/<%=campground._id%>',
            contentType: 'application/json',
            data: JSON.stringify(editedCampground),
            type: 'PUT',
            success: function(result) {
                window.location.href="/campgrounds/<%=campground._id%>/edit";
            }
        });
    }
    
    //EDIT CONTAINER
    function hideEdit(){
        document.getElementById("editContainer").classList.remove("block");
        console.log("hid edit");
    }
    function toggleEdit(){
        document.getElementById("editContainer").classList.toggle("block");
    }

    /********************************BEGIN COMMENT FUNCTIONS********************************/
    var textDiv;
    var cancelMessage = document.createElement('p');
    $(cancelMessage).text("Press Esc to cancel.");
    $(cancelMessage).addClass("cancelMessage small mb-0");
    
    function editComment(commentId){
        //convert comment text div to text area
        var comment_text = $("#comment_content_" + commentId).text();
        console.log(comment_text);
        var commentClass = "comment_content_" + commentId;
        textDiv = $("#comment_content_" + commentId);
        var textArea = document.createElement('textarea');
        
        $(textArea).addClass(commentClass);
        textArea.append(comment_text);
        textDiv.empty();
        textDiv.append(textArea);
        
        //wrap it up in a form
        textDiv.wrap("<form action='/campgrounds/asdfasdf/comments/asdfasdf/edit' method='PUT'></form>");
        textDiv.append(cancelMessage);

        $("textarea").addClass("form-control commentTextArea");
        //toggle update button to visible
    }

    //LISTEN FOR ENTER KEY AND FOCUSED TEXTAREA
    $(document).on('keyup', function(evt){
        if (evt.keyCode == 13)
            console.log("You hit enter!");

        if ($("textarea").is(":focus")){
            console.log("a text area is focused!");
        }

        if(evt.keyCode == 13 && $("textarea").is(":focus")){
            console.log("YOU CAN SEND AN AJAX REQUEST");

            //extract id from activeElement id
            var commentDivId = document.activeElement.parentElement.id;
            var commentId = commentDivId.split("_").pop();  //pop removes last element from an array and returns that element
            console.log("activeElement: " + commentId);
	    var comment_text = document.activeElement.value;

            //SEND THAT AJAX REQUEST HALLELUJAH
            $.ajax({
                url: '/campgrounds/<%=campground._id%>/comments/' + commentId,
                contentType: 'application/json',
    	        data: JSON.stringify({text: comment_text}),
                type: 'PUT',
                success: function(result) {
                    window.location.reload();
                }, 
                error: function(result) {
                    window.location.href="/couldnt_reach";
                }
            });
        }
    });

    function updateComment(commentId){
        alert("attempting to edit comment..." + commentId);

        $.ajax({
            url: '/campgrounds/<%=campground._id%>/comments/' + commentId,
            contentType: 'application/json',
            type: 'PUT',
            success: function(result) {
                window.location.reload();
            }, 
            error: function(result) {
                window.location.href="/couldnt_reach";
            }
        });

    }

    function textareaToParagraph(){
       cancelMessage.remove();
       $(".commentTextArea").contents().unwrap().wrap('<p class="mb-0"></p>');
    }

    //listen for esc key press
    $(document).on('keyup',function(evt) {
        if (evt.keyCode == 27) {
            console.log('Esc key pressed.');
            textareaToParagraph();
        }
    });    

    function deleteComment(commentId){
        console.log("deleting comment!");
        $.ajax({
            url: '/campgrounds/<%=campground._id%>/comments/' + commentId,
            contentType: 'application/json',
            type: 'DELETE',
            success: function(result) {
                window.location.reload();
            },
            error: function(result) {
                window.location.href="/couldnt_reach";
            },
            statusCode: {
                401: function(){
                    window.location.href="/login";
                },
                403: function(){
                    window.location.href="/not_your_comment_to_delete";
                }
            }
        });
    }
    /*********************************END COMMENT FUNCTIONS*********************************/
</script>
<div class="p-3">
    <div class="row">
        <aside class="container-fluid mt-4 col-lg-2">
            <div class="lead">YelpCamp</div>
            <div class="list-group">
                <li class="list-group-item active">Item 1</li>
                <li class="list-group-item">Item 2</li>
                <li class="list-group-item">Item 3</li>
            </div>
        </aside>
        <div class="container-fluid mt-4 col-lg-5">
            <div class="border" >
                <div class="imageWrapper">
                    <img class="image figure-img img-fluid shadow" src="<%=campground.image%>">
                    <h6 class="price">$<%=campground.price%>/night</h6>
                </div>
                <div class="imageCaption p-3">
                    <h5><a href="/campgrounds/<%=campground.id%>/edit"><%=campground.name%></a></h5>
                    <em>Submitted by <%=campground.author.username%></em>
                    <p><%=campground.description%></p>
                </div>
            </div> 
        </div>
    
    
        <div class="container-fluid mt-4 col-lg-5">
            <!-- only render edit button/container if there is a current user AND user is authorized -->
            <% if(currentUser && campground.author.username === currentUser.username){ %>
                <!-- Edit button/container -->
                <button onclick="toggleEdit()" class="fas fa-pencil-alt btn btn-light rounded-0"></button>
                <div id="editContainer" class="container shadow-lg p-4">
                    <!-- Header -->
                    <h3>Edit Campground Details</h3>
                    <button onclick="hideEdit()" class="fas fa-times btn btn-light rounded-0"></button>
                    <!-- Edit Name -->
                    <div class="form-group">
                        <label for="campName">Name</label>
                        <input class="form-control form-group" id="campName" type="text" name="name" value="<%=campground.name%>" >
                        <!-- 
                            <button onclick="saveChanges()" class="btn btn-dark btn-large">Save Changes</button>
                        -->
                    </div>
                    
                    <!-- Edit Image -->
                    <div class="form-group">
                        <div class="custom-file">
                            <!-- 
                                <label class="custom-file-label" for="campImage">Image</label>
                                <input class="custom-file-input mb-3" id="campImage" type="file" accept="/image/*" name="image" value="<%=campground.image%>" >
                                <button onclick="uploadImage()" class="btn btn-dark btn-large">Upload</button>
                            -->
                            <label for="campImage">Image</label>
                            <input class="form-control form-group" id="campImage" type="text" name="image" value="<%=campground.image%>" >
                        </div>
                    </div>
                    
                    <!-- Edit Description -->
                    <div class="form-group">
                        <label for="campDescription">Description</label>
                        <input class="form-control" id="campDescription" type="text" name="description" value="<%=campground.description%>" >
                    </div>
                    <button onclick="saveChanges()" class="btn btn-dark btn-large">Save Changes</button>     
                        <button onclick="deleteCampground()" class="btn btn-danger btn-large float-right" >Delete Campground</button>    
                        <div class="pt-3"><a href="/campgrounds">Go Back to Campgrounds</a></div>
                </div>
                <!-- END Edit button/container -->
            <% } %>

            <!-- Comments section -->
            <div class="container-fluid bg-light p-2 mt-4">
                <!-- Show comments -->
                <%campground.comments.forEach(function(comment){%>
                    <div class="container bg-white shadow-sm rounded p-2 mb-1">
                        <div class="row">
                            <div class="p-1">
                                <img id="userPic" class="rounded-circle" src="http://multisim-insigneo.org/wp-content/uploads/2015/02/blank-profile-picture.png">
                            </div>
                            <div class="col-sm p-1">
                            <!-- edit comment -->
                            <!-- only render edit button/container if there is a current user AND user is authorized -->
                            <% if(currentUser && comment.author.username === currentUser.username){ %>
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle noCaret" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <button class="dropdown-item" onClick="editComment('<%=comment.id%>')">Edit...</button>
                                        <button class="dropdown-item" onClick="deleteComment('<%=comment.id%>')">Delete...</button>
                                    </div>
                                </div>
                            <% } %>
                            <!-- end edit comment -->
                                <h6 class="mb-0"><%=comment.author.username%></h6>
                                <div id="comment_content_<%=comment.id%>" class="mb-0"><p class="mb-0"><%=comment.text%></p></div>
                            </div>
                        </div>
                    </div> 
                <%});%>
                <!-- Add comment -->
                <form action="/campgrounds/<%=campground.id%>/comments/create" method="POST">
                        <div class="bg-white shadow-sm rounded p-2 mt-3">
                            <div class="row">
                                <div class="p-1">
                                    <img id="userPic" class="rounded-circle" src="http://multisim-insigneo.org/wp-content/uploads/2015/02/blank-profile-picture.png">
                                </div>
                                <div class="col-sm p-1">
                                    <input class="borderless" type="text" name="commentText" placeholder="Add a comment...">
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>
