<% include partials/header %>
<script>
    function deleteCampground(){
        console.log("deleting campground");

        $.ajax({
            url: '/campgrounds/<%=campground._id%>',
            type: 'DELETE',
            success: function(result) {
                window.location.href="/campgrounds";
            }
        });

    }
    
    function saveChanges(){
        console.log("saving edits");
        
        let campNameValue = document.getElementById("campName").value;
        //let campImageValue = document.getElementById("campImage").value;
        let campDescriptionValue = document.getElementById("campDescription").value;
        
        let editedCampground = {name: campNameValue,
                                //image: campImageValue,
                                description: campDescriptionValue};
        
        $.ajax({
            url: '/campgrounds/<%=campground._id%>',
            contentType: 'application/json',
            data: JSON.stringify(editedCampground),
            type: 'PUT',
            success: function(result) {
                window.location.href="/campgrounds/<%=campground.id%>/edit";
            }
        });
    }
    
    //EDIT CONTAINER
    function hideEdit(){
        document.getElementById("editContainer").classList.remove("block");
        console.log("hid edit");
    }
    function toggleEdit(){
        document.getElementById("editContainer").classList.toggle("block");
    }
</script>
<div class="p-3">
    <div class="row">
        <aside class="container-fluid mt-4 col-lg-2">
            <div class="lead">YelpCamp</div>
            <div class="list-group">
                <li class="list-group-item active">Item 1</li>
                <li class="list-group-item">Item 2</li>
                <li class="list-group-item">Item 3</li>
            </div>
        </aside>
        <div class="container-fluid mt-4 col-lg-5">
            <div class="border" >
                <div class="imageWrapper">
                    <img class="image figure-img img-fluid shadow" src="<%=campground.image%>">
                    <h6 class="price">$9.00/night</h6>
                </div>
                <div class="imageCaption p-3">
                    <h5><a href="/campgrounds/<%=campground.id%>/edit"><%=campground.name%></a></h5>
                    <p><%=campground.description%></p>
                </div>
            </div> 
        </div>
    
    
        <div class="container-fluid mt-4 col-lg-5">
            <button onclick="toggleEdit()" class="fas fa-pencil-alt btn btn-light rounded-0"></button>
            <div id="editContainer" class="container shadow-lg p-4">
                <!-- Header -->
                <h3>Edit Campground Details</h3>
                <button onclick="hideEdit()" class="fas fa-times btn btn-light rounded-0"></button>
                <!-- Edit Name -->
                <div class="form-group">
                    <label for="campName">Name</label>
                    <input class="form-control form-group" id="campName" type="text" name="name" value="<%=campground.name%>" >
                    <button onclick="saveChanges()" class="btn btn-dark btn-large">Save Changes</button>
                </div>
                
                <!-- Edit Image -->
                <div class="form-group">
                    <div class="custom-file">
                        <label class="custom-file-label" for="campImage">Image</label>
                        <input class="custom-file-input mb-3" id="campImage" type="file" accept="/image/*" name="image" value="<%=campground.image%>" >
                        <button onclick="uploadImage()" class="btn btn-dark btn-large">Upload</button>
                    </div>
                </div>
            
                <!-- Edit Description -->
                <div class="form-group">
                    <label for="campDescription">Description</label>
                    <input class="form-control" id="campDescription" type="text" name="description" value="<%=campground.description%>" >
                </div>
                <button onclick="saveChanges()" class="btn btn-dark btn-large">Save Changes</button>     
                    <button onclick="deleteCampground()" class="btn btn-danger btn-large float-right" >Delete Campground</button>    
                    <div class="pt-3"><a href="/campgrounds">Go Back to Campgrounds</a></div>
            </div>
            
            <!-- Comments section -->
            <div class="container-fluid bg-light p-2 mt-4">
                <!-- Show comments -->
                <%campground.comments.forEach(function(comment){%>
                    <div class="container bg-white shadow-sm rounded p-2 mb-1">
                        <div class="row">
                            <div class="p-1">
                                <img id="userPic" class="rounded-circle" src="http://multisim-insigneo.org/wp-content/uploads/2015/02/blank-profile-picture.png">
                            </div>
                            <div class="col-sm p-1">
                                <h6 class="mb-0"><%=comment.author%></h6>
                                <p class="mb-0"><%=comment.text%></p>
                            </div>
                        </div>
                    </div> 
                <%});%>
                <!-- Add comment -->
                <form action="/campgrounds/<%=campground.id%>/comments" method="POST">
                        <div class="bg-white shadow-sm rounded p-2 mt-3">
                            <div class="row">
                                <div class="p-1">
                                    <img id="userPic" class="rounded-circle" src="http://multisim-insigneo.org/wp-content/uploads/2015/02/blank-profile-picture.png">
                                </div>
                                <div class="col-sm p-1">
                                    <input class="borderless" type="text" name="commentText" placeholder="Add a comment...">
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>